GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DATABASE_URL=postgres://postgres:password@localhost:5432/board_game_prototype
FRONTEND_URL=http://localhost:3000
FRONTEND_DOMAIN=localhost
SESSION_SECRET=your_secret_key
GOOGLE_CALLBACK_URL=http://localhost:8080/auth/google/callback
NODE_ENV=development

# ENVS for docker-compose.yml
# Please sync with the "DATABASE_URL" in this file.
DB_SSL=disable
DB_HOST=postgres
DB_NAME=board_game_prototype
DB_USER=postgres
DB_PASS=password
DB_PORT=5432